[submodule "benchmark/cb-multios"]
	path = benchmark/cb-multios
	url = https://github.com/trailofbits/cb-multios.git
[submodule "repair_tools/genprog-code"]
	path = repair_tools/genprog-code
	url = https://github.com/squaresLab/genprog-code.git
